{% extends 'elementos/estructura.html' %}
{% load static %}
{% block contenido %}
<div class="container rounded border shadow-lg text-center p-5 mt-5 bg-pink text-white" style="background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(154,22,99, 0.7)),url({% static 'imagenes/objetivos.jpg' %});background-repeat: no-repeat;background-size: cover;">
    <h1>OBJETIVOS</h1>
    <div class="col-lg-10 mx-auto">
        <hr>
        <p class="fs-5 ">
            - Apoyar a las mujeres vulnerables de la sociedad, a elevar su nivel de 
            vida de forma sustentable a largo plazo, mediante programas, estrategias y actividades.
        </p><hr>
        <p class="fs-5">
            - Ayudar a las mujeres a que tengan un buen desarrollo integral, cuerpo, alma y espiritu,
            para lograr el triunfo en todas las areas de su vida.
        </p><hr>
        <p class="fs-5">
            - Atención integral a mujeres victimas de violencia de género.
        </p><hr>
        <p class="fs-5">
            - Asesorar y acompañar a las mujeres hasta los organismos públicos. Prevencion en la descendencia
            de las mismas.
        </p><hr>
    </div>
</div>
<div class="container rounded border shadow-lg text-center p-5 mt-5 bg-pink text-white" style="background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(154,22,99, 0.7)),url({% static 'imagenes/mision.jpg' %});background-repeat: no-repeat;background-size: cover;">
    <h1>MISIÓN</h1><br>
    <div class="col-lg-10 mx-auto">
        <hr>
        <p class="fs-5">
            - Conformar un equipo de trabajo de profesionales y personal idóneo que atienda en forma 
            personalizada y/o grupal situaciones de violencia de género y conflictos familiares.
        </p><hr>
    </div>
</div>
<div class="container rounded border shadow-lg text-center p-5 mt-5 bg-pink text-white" style="background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(154,22,99, 0.7)),url({% static 'imagenes/vision.jpg' %});background-repeat: no-repeat;background-size: cover;">
    <h1>VISIÓN</h1><br>
    <div class="col-lg-10 mx-auto">
        <hr>
        <p class="fs-5">
            - Desarrollar un ambiente de cordialidad y solidaridad entre sus asociadas. 
            Orientar al mejoramiento intelectual y cultural de las mismas.
        </p><hr>
    </div>
</div>
<br><br><br><br><br>

{% endblock %}